/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}


h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #088178;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}


p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

/* navbar  */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #d1ecee;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active {
    color: #79eb95;
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 30px;
    height: 2px;
    background: #79eb95;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* hero  */

.hero {
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero h4 {
    padding-bottom: 15px;
}

.hero h1 {
    color: #088178
}

.hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

/* features */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .feature__container {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solig #cce7d0;
    margin: 15px 0;
}

#feature .feature__container:hover {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
}

#feature .feature__container img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .feature__container h5 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .feature__container:nth-child(2) h5 {
    background-color: #e8f7f2;
}

#feature .feature__container:nth-child(3) h5 {
    background-color: #919deb;
}

#feature .feature__container:nth-child(4) h5 {
    background-color: #fcb79c;
}

#feature .feature__container:nth-child(5) h5 {
    background-color: #eef894;
}

#feature .feature__container:nth-child(6) h5 {
    background-color: #fab5b5;
}

/* product/item */

#product1 {
    text-align: center;
}

.product__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #f0f0f0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
    color: #088178;
}

#product .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.material-symbols-outlined {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 40px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 20px;

}

/* banner section */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 40px 0;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-position: center;
}

#banner h3 {
    color: white;
    font-size: 16px;
}

#banner h2 {
    color: wheat;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: red;
}

#banner .btn {
    font-size: 15px;
    font-weight: 550;
    padding: 15px 30px;
}

#banner .btn:hover {
    background-color: #088178;
    color: white;
}


/* promotion banner */

#sm-banner {
    display: flex;
    padding: 40px 80px;
    justify-content: space-between;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: center;
    /* margin: 40px 0; */
    background-image: url("img/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-position: cover;
}

#sm-banner .banner-box h4 {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

#sm-banner .banner-box h2 {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

#sm-banner span {
    color: rgb(0, 0, 0);
    padding: 10px 0;
    font-weight: 400;
    font-size: 15px;
}

#sm-banner .white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 19px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

#sm-banner .white:hover {
    color: white;
}

#sm-banner .banner-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    align-items: center;
    /* margin: 40px 0; */
    background-image: url("img/banner/b10.jpg");
    min-width: 580px;
    height: 50vh;
    background-position: cover;
}

#sm-banner .banner-box1 h4 {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

#sm-banner .banner-box1 h2 {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

#sm-banner span {
    color: rgb(0, 0, 0);
    padding: 10px 0;
    font-weight: 400;
    font-size: 15px;
}


#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#sm-banner .banner-box1:hover button {
    background: #088178;
    border: 1px solid #088178;
}

/* text banner  */

#textbanner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#textbanner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-position: cover;
    padding: 20px;
    margin-bottom: 20px;
}

#textbanner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b4.jpg");
    min-width: 30%;
    height: 30vh;
    background-position: cover;
    padding: 20px;
    margin-bottom: 20px;
}

#textbanner .banner-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b18.jpg");
    min-width: 30%;
    /* height: 30vh; */
    width: 357px;
    height: 190px;
    background-position: cover;
    padding: 20px;
    margin-bottom: 20px;
}


#textbanner h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}

#textbanner h3 {
    color: white;
    font-weight: 800;
    font-size: 15px;
    color: red;
}


#textbanner .box2 {
    background-image: url("img/banner/b4.jpg");
}

#textbanner .box3 {
    background-image: url("img/banner/b5.jpg");
}

.news{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 30% 40%;
    background-color: #041e42;
    padding: 60px 80px;
    margin: 40px 0;
}

.news h4{
    color: wheat;
    font-weight: 900;
    font-size: 20px;
}

.news p{
    color: #818ea0;
    font-weight: 600;
    font-size: 14px;
}

.news span{
    color: rgb(255, 208, 0);
}

.news .form{
    display: flex;
    width: 40%;
}

.news input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}

.news button{
    background-color: #088178;
    color: white;
    border: 0;
    padding: 14px 36px 14px 46px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
}